
* {
  /* margin-left: 0%;
  padding-left: 0%;
  font-size: 1em; */
  font-family: sans-serif;
}
body {
  display: flex;
  justify-content: center;
  margin-left: 0;
  background-color: rgb(247, 247, 235);
  color: black;
  border: 3px solid red;
  width: 100%;
}
.error {
  font-size: 2.5rem;
  color: red;
}

#navbar, #footer{
  /* display: flex; */
  text-align: center;
  margin: 1rem
}

#home {
  border: 3px solid blue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  font-size: 1rem;
}
ul {
  list-style-type: none;
}

/*Input styles */
#topicInput {
  display: flex;
  flex-direction: column;
  border: 3px solid purple;
  background-color: orange;
  color: white;
}
legend {
  font-size: 1.3rem;
  color: black;
}
fieldset {
  border: 0px;
  text-align: start;
  line-height: 1.5rem;
  margin-top: 1rem;
}
#searchSubmit {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 0.8rem;
  /* width: 5rem; */
  height: 2.5rem
}
/*end of input styles */


/*Article List stylings: */
#articleListContainer {
  border: 3px solid pink;
}
#articleList {
  border: 3px solid aquamarine;
  padding: 0;
  /* display: flex;
  flex-direction: column; */
  /* margin: 0px; */
  
  /* align-items: flex-start; */
   /* width: 100%;
   display: flex;
   flex-wrap: wrap; */
   
  /* display: grid;
  grid-template-columns: repeat(1, 1fr);  */
}
#headingArticleList {
  margin-bottom: 0;
}
.articleLink{
  text-decoration: none;
}
.articleCard {
  text-align: center; 
  border: 5px solid orange;
  background-color: rgb(247, 247, 207);
  color: black; 
  max-width: 450px;
}
.aboutArticleCard {
  margin-bottom: 0;
}
.imageArticleCard {
   grid-area: imageArticleCard;
  width: 80%;

  /* max-height: 158.8px;  */
   /* max-width: 170px; */
   margin-top: 1.2rem;  
}






/* SingleArticle ids */
#singleArticle {
  display: flex;
  flex-direction: column;
 align-items: center;

border: 3px solid blue;
text-align: center;
}
#headerSingleArticle {
  /* width: 60%; */
}
#singleArticleBody {
  /* width: 60%; */
  padding: 1.5rem;
}
#imageSingleArticle {
  width: 60%;
}
#commentListContainer {
  margin-right: 2rem;
}
#commentCard {
  border: 5px solid orange;
  background-color: rgb(247, 247, 207);
  padding: 1.5rem;
}
#commentInputContainer {
  display: flex;
  flex-direction: column;
border: 3px solid salmon;
}
.toastBody {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  border: 5px solid orange;
  background-color: rgb(247, 247, 207);
}
#logInToComment {
  font-size: 2rem;
  color: green;
}
/* end SingleArticle ids*/


@media (min-width: 300px) {


  /* .imageArticleCard {
    height: 70%;
  } */
  /* .header {
    font-size: 0.8rem;
  } */
  /* * {
    margin-left: 2vw;
  } */
  /* #headerSingleArticle {
    width: 80%;
  } */
  /* #singleArticleBody {
    width: 80%;
  } */
  /* #imageSingleArticle {
    width: 80%;
  } */
  /* #commentListContainer {
    width: 80%;
  } */
}


@media (min-width: 450px) {
  .articleCard {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66%;
    grid-template-areas: 'articleHeading articleHeading articleHeading'
               'authorArticleCard imageArticleCard imageArticleCard'
               'aboutArticleCard imageArticleCard imageArticleCard'
               'createdAtArticleCard imageArticleCard imageArticleCard'
               'votesArticleCard imageArticleCard imageArticleCard'
               'commentCountArticleCard imageArticleCard imageArticleCard';
               min-height: 344.2px;
  } 
  .articleHeading {
    grid-area: articleHeading;
    margin-bottom: 3rem;
    text-decoration: none;
    color: inherit;
  }
  .authorArticleCard {
    grid-area: authorArticleCard;
    text-decoration: none;
    color: inherit;
  } 
  .aboutArticleCard {
    grid-area: aboutArticleCard;
    text-decoration: none;
    color: inherit;
  }
  .createdAtArticleCard {
    grid-area: createdAtArticleCard;
  }
  .votesArticleCard {
    grid-area: votesArticleCard;
  }
  .imageArticleCard {
     grid-area: imageArticleCard;
    height: 85%; 
    width: 85%;
     margin-top: 1.2rem;  
     margin-left: 1.2rem;
  }
  .commentCountArticleCard {
    grid-area: commentCountArticleCard;
  }
  #topicInput {
    display: grid;
    padding: 1rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-areas: 'sortFieldset sortFieldset topicsFieldset topicsFieldset'
                         'sortFieldset sortFieldset topicsFieldset topicsFieldset'
                         'sortFieldset sortFieldset topicsFieldset topicsFieldset'
                         'sortFieldset sortFieldset topicsFieldset topicsFieldset'
                         'sortFieldset sortFieldset topicsFieldset topicsFieldset'
                         'sortFieldset sortFieldset . . '
                         'sortFieldset sortFieldset searchSubmit searchSubmit '
                         '. . . . ';
  }
  #sortFieldset {
    grid-area: sortFieldset;
  }
  #topicsFieldset {
    grid-area: topicsFieldset;
  }
  #searchSubmit {
    grid-area: searchSubmit;
      margin-left: 10%;
      margin-top: 5%;
      width: 10.7rem;

  }
}

@media (min-width: 460px) {
  * {
    /* text-align: center; */
  }
}


@media (min-width: 990px) {

  #articleList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
  }
  #headerSingleArticle {
    /* width: 90%; */
  }
  #singleArticleBody {
    /* width: 90%; */
  }
  #imageSingleArticle {
    /* width: 90%; */
  }
  #commentListContainer {
    /* width: 85%; */
  }
}



@media (min-width: 1460px) {
  #articleList {
    display: gird;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
}