
* {
  font-family: 'Fira Sans', sans-serif;
}
body {
  border: 3px solid green;
  display: flex;
  justify-content: center;
  margin-left: 0;
  background-color: rgb(247, 247, 235);
  color: black;
  width: 100%;
}
.error {
  font-size: 2.5rem;
  color: red;
}
#navbar, #footer{
  text-align: center;
  margin: 1rem;
  font-size: 1.5rem;
}
#footer {
  margin-bottom: 2rem;
}
#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  font-size: 1rem;
}
ul {
  list-style-type: none;
}

/*Input styles */
#topicInput {
  display: flex;
  flex-direction: column;
  background-color: orange;
  color: white;
}
legend {
  font-size: 1.3rem;
  color: black;
}
fieldset {
  border: 0px;
  text-align: start;
  line-height: 1.5rem;
  margin-top: 1rem;
}
#searchSubmit {
  color:#ffffff;
  background-color: #007bff;
  border-color: #007bff;
  border-radius: 10%;
  margin-left: 24%;
  margin-right: 10%;
  margin-bottom: 0.8rem;
  height: 2.5rem;
  width: 7rem;
}
#searchSubmit:hover {
  background-color: #0056b3;
  border-color:#0056b3;
}
#searchSubmit:active {
  background-color: #000000;
  border-color: #fff;
}
/*end of input styles */


/*Article List stylings: */

#articleList {
  padding: 0;
}
#headingArticleList {
  margin-bottom: 0;
}
.articleLink{
  text-decoration: none;
}
.articleCard {
  text-align: center; 
  border: 5px solid orange;
  background-color: rgb(247, 247, 207);
  color: black; 
  max-width: 450px;
}
.articleCard:hover {
  border-color: rgb(215, 140, 0);
  background-color: rgb(243, 243, 0);
}
.articleCard:active {
  background-color: black;
  color: white;
  border-color: white;
}
.aboutArticleCard {
  margin-bottom: 0;
}
.imageArticleCard {
   grid-area: imageArticleCard;
  width: 80%;
   margin-top: 1.2rem;  
}

/* SingleArticle ids */
#singleArticle {
  display: flex;
  flex-direction: column;
 align-items: center;
text-align: center;
}
#headerSingleArticle {
  font-size: 0.7rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  width: 70%;
}
#addVoteButton, #deleteCommentButton, #submitButton {
  height: 2.2rem;
}
#singleArticleBody {
  padding: 1rem;
  width: 70%;
  text-align: start;
  max-width: 1080px;
}
#articleTopInfo {
  border-bottom: 3px solid orange;
}
#bodySingleArticle {
  border-bottom: 5px double black;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}
#articleBottomInfo {
  border-bottom: 3px solid orange;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}
#imageSingleArticle {
  width: 70%;
  max-width: 1030px;
}
#authorSingleArticle {
  margin-top: 0;
}
#commentListContainer {
  margin-right: 2.8rem;
  margin-left: 0rem;
  width: 80%;
  max-width: 900px;
}
.commentCard {
  border: 5px solid orange;
  background-color: rgb(247, 247, 207);
  padding: 1.7rem;
  margin-bottom: 5px;;
}
.topInfoCommentCard {
  border-bottom: 3px solid orange;
}
.bodyCommentCard{
  border-bottom: 3px double black;
  padding-bottom: 1rem;
}
#deleteCommentButton {
  border-radius: 10%;
  color: #ffffff;
  background-color: #ff0000;
  border-color: #ff0000;
}
#deleteCommentButton:hover {
  background-color: #BB0000;
  border-color: #BB0000;
}
#deleteCommentButton:active {
  background-color: #000000;
  border-color:#fff;
}
#commentInputContainer {
  border: 3px solid black;
  color: black;
  background-color: orange;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  margin-left: 1.1rem;
  width: 70%;
}
#submitButton, #addVoteButton {
  border-radius: 10%;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
#submitButton:hover, #addVoteButton:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
#submitButton:active, #addVoteButton:active {
  background-color: #000000;
  border-color: #ffffff;
}
.toastBody {
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  border: 5px solid orange;
  background-color: rgb(247, 247, 207);
}
#logInToComment {
  font-size: 2rem;
  color: green;
}
/* end SingleArticle ids*/
@media (min-width: 300px) {
  #headerSingleArticle {
    width:80%;
  }
}
@media (min-width: 420px) {
  #singleArticleBody {
    display: flex;
    flex-direction: column;
  }
  #articleTopInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #articleBottomInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #authorSingleArticle {
    margin-top: 1rem;
  }
  #addVoteButton {
    margin-left: 1rem;
  }

}
@media (min-width: 450px) {
  .articleCard {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-rows: 16.66% 16.66% 16.66% 16.66% 16.66% 16.66%;
    grid-template-areas: 'articleHeading articleHeading articleHeading'
               'authorArticleCard imageArticleCard imageArticleCard'
               'aboutArticleCard imageArticleCard imageArticleCard'
               'createdAtArticleCard imageArticleCard imageArticleCard'
               'votesArticleCard imageArticleCard imageArticleCard'
               'commentCountArticleCard imageArticleCard imageArticleCard';
               min-height: 344.2px;
  } 
  .articleHeading {
    grid-area: articleHeading;
    margin-bottom: 3rem;
    text-decoration: none;
    color: inherit;
  }
  .authorArticleCard {
    grid-area: authorArticleCard;
    text-decoration: none;
    color: inherit;
  } 
  .aboutArticleCard {
    grid-area: aboutArticleCard;
    text-decoration: none;
    color: inherit;
  }
  .createdAtArticleCard {
    grid-area: createdAtArticleCard;
  }
  .votesArticleCard {
    grid-area: votesArticleCard;
  }
  .imageArticleCard {
     grid-area: imageArticleCard;
    height: 85%; 
    width: 85%;
     margin-top: 1.2rem;  
     margin-left: 1.2rem;
  }
  .commentCountArticleCard {
    grid-area: commentCountArticleCard;
  }
  #topicInput {
    border: 3px solid #000000;
    display: grid;
    padding: 1rem;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-areas: 'sortFieldset sortFieldset topicsFieldset topicsFieldset'
                         'sortFieldset sortFieldset topicsFieldset topicsFieldset'
                         'sortFieldset sortFieldset topicsFieldset topicsFieldset'
                         'sortFieldset sortFieldset topicsFieldset topicsFieldset'
                         'sortFieldset sortFieldset topicsFieldset topicsFieldset'
                         'sortFieldset sortFieldset . . '
                         'sortFieldset sortFieldset searchSubmit searchSubmit '
                         '. . . . ';
  }
  #sortFieldset {
    grid-area: sortFieldset;
  }
  #topicsFieldset {
    grid-area: topicsFieldset;
  }
  #searchSubmit {
    grid-area: searchSubmit;
      margin-left: 10%;
      margin-top: 5%;
      width: 9rem;
      font-size: 1.2rem;
  }
   #headerSingleArticle {
      width:90%;
    }
}
@media (min-width: 460px) {
  #addVoteButton {
    margin-left: 2rem;
  }
  #addVoteButton, #deleteCommentButton, #submitButton {
    height: 2.5rem;
  }
}
@media (min-width: 500px) {
  .commentCard {
    display: flex;
    flex-direction: column;
  }
  .topInfoCommentCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }
  .bottomInfoCommentCard {
    display: flex;
    flex-direction: row;
    justify-content: space-between
  }
}
@media (min-width: 560px) {
  #addVoteButton {
    margin-left: 3rem;
  }
  #commentInputContainer {
    margin-left: 1.8rem;
  }
}
@media (min-width: 590px) {
  .header, #headerSingleArticle  {
    font-size: 120%;
  }
  #commentInputContainer {
    padding: 2rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    margin-left: 0;
    width: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas: 'writeCommentMessage writeCommentMessage writeCommentMessage writeCommentMessage'
                          'new-comment new-comment new-comment new-comment'
                          'submitButtonContainer characterCountContainer characterCountContainer characterCountContainer';
  }
  #writeCommentMessage {
    grid-area: writeCommentMessage;
  }
  #new-comment {
    grid-area: new-comment;
  }
  #submitButtonContainer {
    grid-area: submitButtonContainer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0.6rem;
    height: 1.7rem;
  }
  #submitButton {
    width: 5rem;
    height: 1.7rem;
  }
  #characterCountContainer {
    grid-area: characterCountContainer;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end; 
    margin-top: 1.1rem;
  }
  #characterCountMessage {
    grid-area: characterCountMessage;
  }

}
@media (min-width: 860px) {
  #addVoteButton {
    margin-left: 3.5rem;
  }
  #singleArticleBody, .commentCard, .commentAdder, #addVoteButton, #submitButton, #deleteCommentButton {
    font-size: 1.1rem;
  }
  .commentInputContainer {
    margin-left: 2.2rem;
  }
}
@media (min-width: 990px) {

  #articleList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 10px;
  }
  .header{
    font-size: 130%;
  }
  #headerSingleArticle {
    font-size: 130%;
    width: 95%;
  }
  #singleArticleBody, .commentCard, .commentAdder, #addVoteButton, #submitButton, #deleteCommentButton {
    font-size: 1.2rem;
  }
}
@media (min-width: 1460px) {
  #articleList {
    display: gird;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
  }
}